__pycache__/
*.py[cod]
.pytest*/
.idea/
.git_nested_backup/
*.egg-info/
build/
dist/
.coverage*
htmlcov/
.venv/
venv/
examples/*_example.png
examples/*_example.npz
examples/*_output/
examples/wwz_test/
testsfred_red_qpo.npz
